# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
.pytest_cache/
.coverage*

# Environments
.env
.venv/
venv/
env/

# Streamlit
.streamlit/secrets.toml
.streamlit/**/secrets.toml

# IDE/OS
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db
.devcontainer/

# Builds/Dist (if packaging later)
build/
dist/
*.egg-info/
